.catalog {
  padding-bottom: 80px;
  background-color: $whiteColor;

  @media (max-width: $breakpoint768) {
    padding-bottom: 40px;
  }

  // .catalog__inner

  &__inner {}

  // .catalog__title

  &__title {
    margin-bottom: 20px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 14px;
    }
  }

  // .catalog__list

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;

    @media (max-width: $breakpoint992) {
      column-gap: 0;
      row-gap: 10px;
    }

    @media (max-width: $breakpoint768) {
      row-gap: 20px;
    }

  }

  // .catalog__item

  &__item {
    flex: 0 1 280px;
    display: grid;
    align-content: space-between;
    padding: 15px;
    background-color: #F5F5F5;

    @media (max-width: $breakpoint992) {
      flex: 0 1 100%;
      display: flex;
      align-items: center;
      width: 100%;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
    }

  }

  // .catalog__img

  &__img {
    margin-bottom: 9px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 0;
      margin-right: 9px;

      img {
        width: 156px;
      }
    }

    @media (max-width: $breakpoint768) {
      margin-right: 0;
      margin-bottom: 9px;

      img {
        width: 100%;
      }
    }

  }

  // .catalog__desc

  &__desc {
    margin-bottom: 9px;
    text-align: center;
    font-size: 10px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 0;
      margin-right: 9px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 9px;
      margin-right: 0;
    }

  }

  // .catalog__price-ordering

  &__price-ordering {

    @media (max-width: $breakpoint480) {
      width: 100%;
    }
  }

  // .catalog__price

  &__price {
    margin-bottom: 9px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;

    span {
      color: #417E43;
    }
  }

  // .catalog__ordering-link

  &__ordering-link {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 32px;
    background-color: #417E43;
    font-size: 10px;
    line-height: 12px;
    color: $whiteColor;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      width: 0;
      margin: auto;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 100%;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }

    &:hover:before,
    &:focus:before {
      width: 300px;
      height: 300px;
    }

    &:active {
      background-color: #205721;
    }

    @media (max-width: $breakpoint992) {
      width: 157px;
      height: 32px;
    }

    @media (max-width: $breakpoint480) {
      width: 100%;
    }

  }
}


.catalog__img-container {
  width: 100%;
  height: 100%;
}

.catalog__img-item {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.catalog__img-item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog__img-container .swiper-pagination {
  bottom: 0;
  display: flex;
}

.catalog__img-container .swiper-pagination .swiper-pagination-bullet {
  width: 25%;
  height: 2px;
  margin: 0;
  border-radius: 0;
  background: #FFFFFF;

  &:not(:last-child) {
    margin-right: 1px;
  }
}

.catalog__img-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #38313C;
}