// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint992) {}

  @media (max-width: $breakpoint768) {}

  @media (max-width: $breakpoint480) {}
}

// Body Locked
body {
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: $blackColor;

  &.locked {
    overflow: hidden;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title {
  text-align: center;
  line-height: 130%;
  font-weight: 700;
  font-size: 24px;
  color: $blackColor;

  span {
    color: #417E43;
  }

}