// Header

// Navbar
.header {
  padding-top: 43px;
  padding-bottom: 120px;
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 50px;

  @media (max-width: $breakpoint992) {
    padding: 15px 0;
    background-position: center;
    margin-bottom: 30px;
  }

  @media (max-width: $breakpoint768) {
    padding-top: 8px;
    margin-bottom: 40px;
  }
}

.nav {
  margin-bottom: 40px;

  @media (max-width: $breakpoint768) {
    margin-bottom: 16px;
  }
}

.navbar {
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint768) {
    align-items: start;
  }
}

.navbar__address {
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: $whiteColor;
  margin-bottom: 16px;

  @media (max-width: $breakpoint768) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu {
  display: flex;
  column-gap: 40px;
  margin-right: 108px;

  @media (max-width: 1024px) {
    margin-right: 40px;
  }

  // .menu__item

  &__item {}

  // .menu__item-link

  &__item-link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $whiteColor;

    &:hover{
      color: #02dd09;
      transition: all 0.3s ease 0s;
    }
  }
}

.logo {
  @media (max-width: $breakpoint768) {
    width: 140px;
    height: 120px;
    margin-right: -60px;

    img {
      width: 140px;
      height: 120px;
    }
  }

  @media (max-width: $breakpoint480) {
    margin-right: -20px;
  }
}

.info {
  display: flex;
  margin-left: auto;

  // .info__phone-address

  &__phone-address {
    position: relative;
    text-align: right;
  }

  // .info__phone-link

  &__phone-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $whiteColor;

    @media (max-width: $breakpoint992) {
      font-size: 12px;
      line-height: 15px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 3px;
      color: transparent;
      outline: transparent;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background-image: url('../img/phone.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  // .info__address

  &__address {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $whiteColor;

    @media (max-width: $breakpoint992) {
      font-size: 10px;
      line-height: 12px;
    }

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  // .info__vk

  &__vk {
    margin-left: 16px;
  }

  // .info__vk-link

  &__vk-link {
    @media (max-width: $breakpoint768) {
      width: 30px;
      height: 30px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.hero {

  // .hero__inner

  &__inner {
    display: flex;
    flex-direction: column;
    color: $whiteColor;
    text-align: center;
  }

  // .hero__title

  &__title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    @media (max-width: $breakpoint768) {
      font-size: 14px;
      margin-bottom: 7px;
    }
  }

  // .hero__subtitle

  &__subtitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;

    @media (max-width: $breakpoint768) {
      font-size: 18px;
      margin-bottom: 7px;
    }
  }

  // .hero__size

  &__size {
    position: relative;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
  }

  // .hero__size-cube

  &__size-cube {
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
  }

  // .hero__btn

  &__btn {}

  // .hero__btn-link

  &__btn-link {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 37px;
    background-color: $whiteColor;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #015304;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    overflow: hidden;

    @media (max-width: $breakpoint992) {
      width: 134px;
      height: 32px;
      font-size: 10px;
      line-height: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      width: 0;
      margin: auto;
      background: rgba(65, 126, 67, 0.1);
      border-radius: 100%;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }

    &:hover:before,
    &:focus:before {
      width: 300px;
      height: 300px;
    }

    &:active:before {
      background-color: rgba(65, 126, 67, 0.4);
      width: 300px;
      height: 300px;
    }
  }
}



.burger {
  display: none;
  cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {

  .navbar {
    justify-content: space-between;
    padding: 0;
  }

  .burger {
    order: 1;
  }

  .logo {
    margin-right: -200px;
    order: 2;
  }

  .info {
    margin-left: 0;
    order: 3;
  }

  // .menu
  .menu {
    position: fixed;
    background: #FFF3F3;
    border-radius: 20px;
    width: 187px;
    height: 301px;
    left: 0;
    top: 0;
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 36px;
      padding-top: 40px;
      left: 0;
      top: 26px;
      pointer-events: all;
      z-index: 22;
      animation: fade 0.1s linear;

      @media (max-width: $breakpoint768) {
        top: 16px;
      }
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 16px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 2px;
      }

      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 12px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background: $burgerColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;

      @media (max-width: $breakpoint768) {
        top: -1px;
      }
    }

    &::after {
      bottom: -1px;
    }

    span {
      position: absolute;
      top: 7px;
      right: 0;
      width: 100%;
      background: $burgerColor;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  // .menu__item
  .menu__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  // .menu__link
  .menu__item-link {
    font-size: 12px;
    line-height: 15px;
    color: #015304;
  }
}